# Port HTTP server Fastify
PORT=3000

# Host network (0.0.0.0 untuk mengizinkan akses dari device lain di LAN/Wi-Fi)
HOST=0.0.0.0

# Database URL (Neon Cloud PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:password@ep-xyz.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
